<h2 class="text-center">Contact Detail</h2>

<% if (arr[0] != null) { %>
 <div class="container text-center">
    <h3><%= arr[0].name %></h3>
    <p class="lead"><%= arr[0].email %></p>
    <p><%= arr[0].phone %></p>
 </div>
<% } else { %>
 <div class="card container float-center text-center" style="width: 30rem;">
    <div class="card-body">
        <p>The data you are calling is not found in the database</p>
    </div>
 </div>
<% } %>