<% if (msg == '01') { %>
  <div class="alert alert-warning alert-dismissible" role="alert">
      Contact's name already exists
  </div>
<% } else if (msg == '02') { %>
  <div class="alert alert-warning alert-dismissible" role="alert">
      Invalid phone number (Area: ID)
  </div>
<% } %>

<div class="container justify-content-center">
    <div class="container d-flex flex-column row justify-content-center">
        <h2 class="text-center">Edit Contact</h2>
        <div>
            <form action="/contact/edit/<%= oldName %>" method="post">
                <div class="form-group">
                  <label for="newName">Name</label>
                  <input type="text" class="form-control" name="newName" value='<%= arr[0].name %>'>
                </div>
                <div class="form-group">
                  <label for="newEmail">Email Address</label>
                  <input type="email" class="form-control" name="newEmail" value=<%= arr[0].email %>>
                </div>
                <div class="form-group">
                  <label for="newPhone">Phone Number</label>
                  <input type="text" class="form-control" name="newPhone" value=<%= arr[0].phone %>>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>